/*--------------------------------------------------------------
	#tp-blog page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#5.1	contact-info-section
--------------------------------------------------------------*/
